USE [master]
GO
/****** Object:  Database [Showroomauto]    Script Date: 11/5/2024 7:29:32 PM ******/
CREATE DATABASE [Showroomauto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Showroomauto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DINHCHAU\MSSQL\DATA\Showroomauto.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Showroomauto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DINHCHAU\MSSQL\DATA\Showroomauto_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Showroomauto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Showroomauto]
GO
/****** Object:  User [AutoUser]    Script Date: 11/5/2024 7:29:32 PM ******/
CREATE USER [AutoUser] FOR LOGIN [AutoUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [AutoUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AutoUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AutoUser]
GO
/****** Object:  Table [dbo].[CAR]    Script Date: 11/5/2024 7:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAR](
	[carID] [char](10) NOT NULL,
	[brand] [varchar](55) NULL,
	[model] [varchar](55) NULL,
	[price] [varchar](15) NULL,
	[status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[carID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 11/5/2024 7:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[customerID] [char](10) NOT NULL,
	[name] [varchar](55) NULL,
	[phone] [varchar](55) NULL,
	[address] [varchar](55) NULL,
	[status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 11/5/2024 7:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[employeeID] [char](10) NOT NULL,
	[username] [varchar](55) NULL,
	[password] [varchar](15) NULL,
	[role] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINANCE]    Script Date: 11/5/2024 7:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINANCE](
	[financeID] [char](10) NOT NULL,
	[income] [decimal](10, 3) NULL,
	[expense] [decimal](10, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[financeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 11/5/2024 7:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDER](
	[orderID] [char](10) NOT NULL,
	[customer_id] [char](10) NULL,
	[car_id] [char](10) NULL,
	[employee_id] [char](10) NULL,
	[orderDate] [datetime] NULL,
	[value] [decimal](10, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[CAR] ([carID])
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[CUSTOMER] ([customerID])
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[EMPLOYEE] ([employeeID])
GO
USE [master]
GO
